testing/
!testing/test.py
venv/
*~
exampleSyllabi/
backgroundAndExamples/
.DS_Store
admin/
p390/bin/
p390/lib/
p390/.quarto/
p390/python-venv*
!p390/python-venv.qmd
p390/pyvenv.cfg
p390/share/
p390/etc/
p390/.DS_Store
p390/.gitignore
