testing/testFiles/testPython_files/
testing/testFiles/testR_files/
test_files/
venv/
*~
exampleSyllabi/
backgroundAndExamples/
.DS_Store
admin/
p390/bin/
p390/lib/
p390/.quarto/
p390/python-venv*
!p390/python-venv.qmd
p390/pyvenv.cfg
p390/share/
p390/etc/
p390/.DS_Store
finalProjW2025/
*.*#
mypandastest.csv
.aider*

syllabusBrittPSYCH390W2026_files/libs